{% extends "base.html" %}
{% block titulo %} Nosotros {%endblock%}
{% block contenido %} 
<div class="container">
    <h1>¿Quien soy? </h1><br/>
    <h2 align='justify'>Mi nombre es Nicolás Chandía, un Argentino nacido en un distrito llamado Tunuyán, ubicado en Mendoza.. <br>
        <br>
    Tengo 24 años, y cuento con un titulo secundario de "Electromecanico Orientado en Bienes y Servicios"..</h2>
    <br>
    <h2>En el año 2023 decidi comenzar mi cursado de Programación, en un BootCamp llamado "CoderHouse", donde tuve mi primer acercamiento al mundo como desarrollador. En este BootCamp, termine con exito mi cursado de "Python".. Luego opté por seguir adentrandome en la programacion, solo que esta vez decidi ser autodidacta estudiando la parte de HTML y CSS donde pude adquirir mis conocimientos de FrontEnd</h2>
    <br>
    <h2>Fuera de mis horarios de estudio, tambien trabajo y tengo una banda de Rock-Pop llamada "Error-404", bautizada asi por mi carrera dentro de la programacion..
    </h2>
    <br>
    <h2>Esta pagina web me ha ayudado a perfeccionar mi conocimiento con distintas tecnologias..
    </h2>
    <br>
    <h2>En mi portafolio se pueden encontrar diferentes trabajos que he realizado a lo largo de mi experiencia</h2>

{%endblock%}